@media only screen and (max-width: 600px) {
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.navBar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding: 0;
}
.navBar nav {
  margin: 0;
  width: 100%;
  background-color: #E09B62;
  padding: 10px;
  z-index: 1000;
}
.header ul li {
  display: inline-block;
}
.header ul li a {
  margin-left: 5px;
  padding: 5px;
  text-decoration: none;
  font-family: arial;
  font-weight: 500;
  font-size: 20px;
  color: #ffff;
  transition: 0.4 ease-in-out;
}
.header ul li a:hover {
  background: #FFE8D5;
  border-radius: 5px;
  color: #ff7200;
}
.Home {
  font-family: arial;
  background: url('portimg.jpeg');
  background-size: cover;
  border-radius: 5px;
  height: 720px;
}
.Home h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #FFFFFF;
  font-family: arial;
  font-weight: 450;
  font-size: 40px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
.Home spam {
  color: #ff7200;
}
.ictLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.ictLogo img {
  height: 150px;
  width:  150px;
  border-radius: 80px;
}
.program {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.program img {
  height: 250px;
  width: 300px;
  border: solid 1px #ff7200;
  border-radius: 10px;
}
.Home h3 {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #FFFFFF;
  font-family: arial;
  font-weight: 450;
  font-size: 20px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
.Home p {
  display: flex;
  justify-content: center;
  color: #ff7200;
}
.About {
  height: 1270px;
  background-color: #D3D3D3; 
  padding: 30px;
}
.About h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #FFFF;
  background-color: #E09B62;
  border-radius: 5px;
}
.About ol {
  list-style-type: none;
}
.About ol li {
  margin: auto;
  padding: 15px;
  font-weight: 500;
  font-family: times new roman;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-decoration: none;
}
.About img {
  margin-top: 20px;
  height: 240px;
  width: 290px;
  border: solid 1px #ff7200;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.box {
  margin-top: 10px;
  border: solid 1px #ff7200;
  border-radius: 5px;
  background-color: #6F6F6F;
  height: 600px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.box p {
  margin: auto;
  padding: 15px;
  font-weight: 500;
  font-family: times new roman;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.imgMan {
   height: 1000px;
   background-color: #9E9E9E;
   padding: 30px;
}
.imgMan h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   font-weight: 600;
   font-family: 'Times New Roman', Times, serif;
   color: #FFFF;
   background-color: #E09B62;
   border-radius: 5px;
}
.imgMan h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #ff7200;
}
.box1 {
   margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   height: 300px;
   margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   height: 260px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.box1 p {
  margin: auto;
  padding: 15px;
  font-weight: 500;
  font-family: times new roman;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.box1 p span {
  color: #ff7200;
}
.imgMan img {
    margin-top: 20px;
    height: 200px;
    width: 290px;
    border: solid 1px #ff7200;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.shapeMan {
   height: 900px;
   background-color: #D3D3D3;
   padding: 30px;
 
}
.shapeMan h1 {
   display: flex;
   justify-content: center;
   padding: 10px;
   color: #FFF;
   background-color: #E09B62;
   border-radius: 5px;
}
.box2 {
   margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   height: 260px;
   margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   height: 180px;
}
.box2 p {
   margin: auto;
   padding: 15px;
   font-weight: 500;
   font-family: times new roman;
   color: #FFFFFF;
   letter-spacing: 1px;
}
.box2 p span {
  color: #ff7200;
}
.shapeMan img {
   margin-top: 10px;
   height: 240px;
   width: 290px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.shapeMan span {
  color: #ff7200;
}
.shapeMan h2 {
  display: flex;
  justify-content: center;
  color: #ff7200;
}
.portfolio {
  height: 1000px;
  background-color: #9E9E9E;
  padding: 30px;
}
.portfolio h1 {
  display: flex;
   justify-content: center;
   padding: 10px;
   margin-top: 14px;
   color: #FFFF;
   background-color: #E09B62;
   border-radius: 5px;
   border: solid 1px #ff7200;
}
.portbox {
  margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   height: 390px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.portbox p {
  margin: auto;
  padding: 15px;
  font-weight: 500;
  font-family: times new roman;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.portfolio img {
  margin-top: 20px;
  height: 240px;
  width: 290px;
  border: solid 1px #ff7200;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.portfolio a {
  text-decoration: none;
  font-family: arial;
  font-weight: 500;
  padding: 5px;
  border: solid 1px #ff7200;
  border-radius: 2px;
  background-color: #D099FC;
  color: #FFFF;
}
.portfolio a:hover {
  color:#ff7200;
}
footer {
  display: flex;
  justify-content: center;
  font-family: arial;
  font-weight: 600;
  font-size: 10px;
}
}
@media only screen and (min-width: 601px) {
  /* Your desktop styles here */
  .main {
    width: 50%; /* Adjust as needed for desktop view */
  }
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
  .navBar {
  display: flex;
  justify-content: center;
  
  position: fixed;
  width: 100%;
  padding: 0;
}
.navBar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  background-color: #E09B62;
  padding: 15px;
  z-index: 1000;
}
.header ul li {
  display: inline;
  justify-content: center;
}
.header ul li a {
  margin-left: 50px;
  padding: 10px;
  text-decoration: none;
  font-family: arial;
  font-weight: 500;
  font-size: 20px;
  color: #ffff;
  transition: 0.4 ease-in-out;
}
.header ul li a:hover {
  background: #FFE8D5;
  border-radius: 5px;
  color: #ff7200;
}
.Home {
  justify-content: center;
  background: url('desktop.jpeg');
  background-size: cover;
  width: 100%;
  height: 800px;
}
Home h2 {
  visibility: hidden;
    display: flex;
  justify-content: center;
  padding: 10px;
  color: #E5D6D6;
  font-family: arial;
  font-weight: 450;
  font-size: 40px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
.Home spam {
  color: #ff7200;
}
.ictLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.ictLogo img {
  margin-top: 40px;
  height: 150px;
  width:  150px;
  border-radius: 80px;
}
.program {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.program img {
  height: 200px;
  width: 250px;
  border: solid 1px #ff7200;
  border-radius: 10px;
}
.Home h3 {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #FFFFFF;
  font-family: arial;
  font-weight: 450;
  font-size: 20px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
.Home p {
  display: flex;
  justify-content: center;
  color: #ff7200;
}
.About {
  height: 800px;
  background-color: #D3D3D3; 
  padding: 30px;
}
.About h1 {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #FFFF;
  background-color: #E09B62;
  border-radius: 5px;
}
.About ol {
  list-style-type: none;
}
.About ol li {
  margin: auto;
  padding: 15px;
  font-weight: 500;
  font-family: times new roman;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-decoration: none;
}
.About img {
  margin-top: 20px;
  margin-left: 100px;
  height: 240px;
  width: 290px;
  border: solid 1px #ff7200;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.box {
  margin-top: 10px;
  border: solid 1px #ff7200;
  border-radius: 5px;
  background-color: #6F6F6F;
  height: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.box p {
  margin: auto;
  padding: 15px;
  font-weight: 500;
  font-family: times new roman;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.imgMan {
   height: 750px;
   background-color: #9E9E9E;
   padding: 30px;
}
.imgMan h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
   margin-top: 25px;
   font-weight: 600;
   font-family: 'Times New Roman', Times, serif;
   color: #FFFF;
   background-color: #E09B62;
   border-radius: 5px;
}
.imgMan h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #ff7200;
}
.box1 {
   margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   height: 100px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.box1 p {
  margin: auto;
  padding: 15px;
  font-weight: 500;
  font-family: times new roman;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.box1 p span {
  color: #ff7200;
}
.imgMan img {
    margin-left: 300px;
    margin-top: 10px;
    height: 200px;
    width: 290px;
    border: solid 1px #ff7200;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.shapeMan {
   height: 900px;
   background-color: #D3D3D3;
   padding: 30px;
 
}
.shapeMan h1 {
   justify-content: center;
   margin-top: 25px;
   padding: 10px;
   color: #FFF;
   background-color: #E09B62;
   border-radius: 5px;
}
.box2 {
   margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   height: 260px;
   margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   height: 180px;
}
.box2 p {
   margin: auto;
   padding: 15px;
   font-weight: 500;
   font-family: times new roman;
   color: #FFFFFF;
   letter-spacing: 1px;
}
.box2 p span {
  color: #ff7200;
}
.shapeMan img {
  margin-left: 300px;
   margin-top: 10px;
   height: 240px;
   width: 290px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.shapeMan span {
  color: #ff7200;
}
.shapeMan h2 {
  display: flex;
  justify-content: center;
  display: flex;
   justify-content: center;
   padding: 10px;
   margin-top: 14px;
   color: #FFFF;
   background-color: #E09B62;
   border-radius: 5px;
   border: solid 1px #ff7200;
}
.portfolio {
  height: 700px;
  background-color: #9E9E9E;
  padding: 30px;
}
.portfolio h1 {
  display: flex;
   justify-content: center;
   padding: 10px;
   margin-top: 14px;
   color: #FFFF;
   background-color: #E09B62;
   border-radius: 5px;
   border: solid 1px #ff7200;
}
.portbox {
  margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   margin-top: 10px;
   border: solid 1px #ff7200;
   border-radius: 5px;
   background-color: #6F6F6F;
   height: 150px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.portbox p {
  margin: auto;
  padding: 15px;
  font-weight: 500;
  font-family: times new roman;
  color: #FFFFFF;
  letter-spacing: 1px;
}
.portfolio img {
  margin-top: 20px;
  margin-left: 200px;
  height: 240px;
  width: 290px;
  border: solid 1px #ff7200;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.portfolio a {
  margin-top: 10px;
  text-decoration: none;
  font-family: arial;
  font-weight: 500;
  padding: 5px;
  border: solid 1px #ff7200;
  border-radius: 2px;
  background-color: #D099FC;
  color: #FFFF;
}
.portfolio a:hover {
  color:#ff7200;
 }
  footer {
  display: flex;
  justify-content: center;
  font-family: arial;
  font-weight: 600;
  font-size: 20px;
}
}
